.student-table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .student-table th, .student-table td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    background-color: #f2f2f2;
    font-size: 20px; /* Adjust as needed */
    padding: 4px; /* Adjust as needed */
  }

.centered-heading {
    text-align: center;
    background-color: #f0f0f0; /* Adjust the background color as needed */
    padding: 10px;
    border-radius: 5px;
  }

  .student-table th {
    text-align: center;
    background-color: #f2f2f2; /* Adjust the background color as needed */
  }

  .student-table td {
    text-align: center;
  }

  .table-container {
    width: 50%; /* Adjust the width as needed */
    margin: 0 auto; /* Center the container */
  }